asgiref
certifi
charset-normalizer
cloudinary
Django
django-cloudinary-storage
djangorestframework
idna
pillow
requests
six
sqlparse
tzdata
urllib3
whitenoise
dj-database-url
psycopg2-binary
