{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Land Registration Form</title>
  <link rel="stylesheet" href="{% static 'css/registration_form.css' %}">

</head>
<body>
  <h1>New Land Registration</h1>
  <form action="#" method="post" enctype="multipart/form-data">
    <label>Full Name:</label>
    <input type="text" required><br><br>
    
    <label>Mandal:</label>
    <input type="text" required><br><br>
    
    <label>District:</label>
    <input type="text" required><br><br>
    
    <label>State:</label>
    <input type="text" required><br><br>
    
    <label>Aadhar Number:</label>
    <input type="text" maxlength="12" required><br><br>
    
    <label>Document Number:</label>
    <input type="text" pattern="[0-9]+-[A-Za-z]+-[0-9]+" required><br><br>

    <label>Survey Number:</label>
    <input type="text" pattern="[0-9]+-[A-Za-z]+-[0-9]+" required><br><br>
    
    <label>Upload Photo:</label>
    <input type="file" accept="image/*" required><br><br>
    
    <input type="submit" value="Submit Registration">
  </form>
  <br>
  <a href="{% url 'index' %}">← Back to Home</a>
</body>
</html>